/* .bookke {
    width: 100%;
    height: 250px;
} */

.navimg {
    width: 100%;
    height: auto;
    margin-top: -40%;
    z-index: -1;
}

.nav-wrapper {
    position: absolute;
}

.wtf {
    float: left;
    margin: 10px;
}